.worldMapContainer {
  cursor: pointer;
  position: relative;
  height: 100vh;
}

.infoModal {
  height: 300px;
  z-index: 20;
  background: #8e0000;
  transition: opacity 0.25s ease;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  img {
    width: 100%;
  }
  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  .detailedInfo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      font-size: 1.2rem;
    }
  }
}
